.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
    height: 400px;
}

.thumbs {

    display: none;
}
.title{

text-align: center;

}

.carousel .slide .legend {
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    background: none;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 0.25;
    transition: auto;
}
