.photo-item img {
    width: 100%;
  }
  
  #home .photo-item h2 {
    margin-bottom: 0.2em;
  }
  
.Post-individual{

  margin: 2em;

}
.botão{

    margin-left: 40%;

}


  .photo-author {
    text-align: left;
  }
  
  .photo-author a {
    font-weight: bold;
  }